<title>Sign Up / Step 2 / World Exchangers</title>
<form action="/auth/signup/user/{{user._id}}" method="POST">
<br>
   <h2>Sign Up</h2>
   <h3>Step 2 out of 2</h3>
   <h4>Exchange Student</h4>
   <form>
      <label>What is your Home Country?
         <select name="_home_country">
            {{#each countries}}
            <option value="{{_id}}">{{name.common}}</option>
            {{/each}}
         </select>
      </label>
      <br> 
      <label>What is your Host Country?
         <select name="_host_country">
            {{#each countries}}
            <option value="{{_id}}">{{name.common}}</option>
            {{/each}}
         </select>
      </label>
      <br>
      <label>What is your Exchange Organization?
         <select name="_organization">
            {{#each organizations}}
            <option value="{{_id}}">{{org_name}}</option>
            {{/each}}
         </select>
      </label>
      <br>       
      <button type="submit">Sign Up</button>
   </form>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}