<title>Searching countries</title>
{{!-- <main>
    <ul>
        {{#each countries}}
            <li>
                <a href="/country/{{id}}">    <img src="{{flags.png}}" width="25" height="25" alt=""><b>{{name.common}}</b> </li></a>
            <br>
        {{/each}}
    </ul>
</main> --}}
<div class="container vertical">

<main class="cards">
            {{#each countries}}
    <a href="/country/{{id}}">
  <article class="card">
    <img src="{{flags.png}}" alt="">
    <div class="text">
      <h3>{{name.common}}</h3>
    </div>
  </article></a>
          {{/each}}
  </main></div>