<button><a href="/country/list">< Go back to all countries</a></button><br>
<div class="container">
<img src="{{data.flags.png}}" width="100" height="75" alt="">
<br>
<h2>{{data.name.common}}</h2><br>
<p>Capital:</p>
<b>{{data.capital}}</b>
<p>Continent:</p>
<b>{{data.continents}} </b>
<p>Region:</p>
<b>{{data.region}}, {{data.subregion}} </b>
<p>Population:</p>
<b>{{data.population}} </b>
</div>

        {{#each data._students}}
            <li>
                {{this.username}}
</li>
    
        {{/each}}

