<title>{{data.name.common}}</title>

<section class="container vertical-country">

        <div class="country-header">
    <img src="{{data.flags.png}}" class="flag-profile" alt=""/>
    <h1>{{data.name.common}} <i>{{data.cca3}}</i></h1>
    </div>

{{#if data._students}}
<div class="two-column">
<div class="left-country">
<p>Capital:</p>
<b>{{data.capital}}</b>
<p>Continent:</p>
<b>{{data.continents}} </b>
<p>Region:</p>
<b>{{data.region}}, {{data.subregion}} </b>
<p>Population:</p>
<b>{{data.population}} </b>
<p>Timezone:</p>
{{#each data.timezones}} <b>{{this}}, </b> {{/each}}
</div>
 <div class="left-country">
    <h4>Meet Exchange Students in {{data.name.common}}</h4>
   <div class="country-icons">
        {{#each data._students}}
            <a href="/user/{{this._id}}"><img src="{{this.profile_pic}}" alt="" class="headerIcon"></a>  
        {{/each}}
      </div>
        {{#each data._organizations}}
            <li>
                <a href="/org/{{this._id}}"></a>{{this.org_name}}</a>  
            </li>
        {{/each}}
{{else}}
    <div style="width: 50%">
    <div class="left-country">
<p>Capital:</p>
<b>{{data.capital}}</b>
<p>Continent:</p>
<b>{{data.continents}} </b>
<p>Region:</p>
<b>{{data.region}}, {{data.subregion}} </b>
<p>Population:</p>
<b>{{data.population}} </b>
<p>Timezone:</p>
{{#each data.timezones}} <b>{{this}}, </b> {{/each}}
</div>
</div>
{{/if}}
</section>


        </section>