<title>Edit / {{user.username}}</title>

      <img class="postLogo" src="{{user.profile_pic}}" alt="">
<div class="container-pop">
   <h2>Edit: {{user.username}}</h2>
   
<form action="/user/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
                  <label>First name: <br>
            <input type="text" class="rounded-input border-customized-input"  name="first_name" placeholder="{{user.first_name}}" value="{{user.first_name}}"></input>
         </label>
      <br>
            <label>Username: <br>
            <input type="text" name="username" class="rounded-input border-customized-input" placeholder="{{user.username}}" value="{{user.username}}" readonly></input>
         </label>
      <br>
                  <label>Email: <br>
            <input type="text" name="email" placeholder="{{user.email}}" value="{{user.email}}"  class="rounded-input border-customized-input" readonly></input>
         </label>
      <br>
      <label for="">Profile picture: <br>
        <input type="file" name="profile_pic" placeholder="{{user.profile_pic}}" value="{{user.profile_pic}}" class="rounded-input border-customized-input"/></label> 

      <br>     
      <button type="submit"  class="btn-right" >Update</button>
   </form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>
